<div id="page-wrapper">
	<app-header></app-header>
	<router-outlet></router-outlet>
	<app-footer></app-footer>
	<ngx-spinner bdColor="rgba(25, 170, 141, 0.6)" size="large" color="#fff" loadingText="Chargement..." type="ball-scale-multiple"></ngx-spinner>
</div>