<div id="slideshow">
	<div class="fullwidthbanner-container" style="overflow: visible;">
		<div class="revolution-slider rev_slider revslider-initialised tp-simpleresponsive" style="height: 646px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;"
		 id="revslider-514" data-slideactive="rs-13">
			<ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1519px; height: 100%; max-height: 700px; left: 0px;">
				<!-- SLIDE  -->
				<li data-index="rs-13" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"
				 data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="http://static.soaptheme.net/uploads/revslider1/homepage/bg.jpg"
				 data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
				 data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
				 data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
					<!-- MAIN IMAGE -->
					<div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: translate3d(0px, 0px, 0px); backface-visibility: hidden;">
						<!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://static.soaptheme.net/uploads/revslider1/homepage/bg.jpg" alt="" title="Slider1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
						<div class="tp-bgimg defaultimg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://static.soaptheme.net/uploads/revslider1/homepage/bg.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;"
						 src="http://static.soaptheme.net/uploads/revslider1/homepage/bg.jpg"></div>
					</div>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: -280px; top: 512px; z-index: 5;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-1" data-x="center" data-hoffset="" data-y="bottom"
								 data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']"
								 data-transform_idle="o:1;" data-transform_in="y:bottom;s:300;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;"
								 data-start="400" data-responsive_offset="on" style="z-index: 5; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/stage.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 2080px; height: 134px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: -280px; top: 0px; z-index: 6;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-2" data-x="center" data-hoffset="" data-y="bottom"
								 data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']"
								 data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;"
								 data-start="800" data-responsive_offset="on" style="z-index: 6; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/tree.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 2080px; height: 646px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 931px; top: 500px; z-index: 7;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-3" data-x="756" data-y="500" data-width="['none','none','none','none']"
								 data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:left;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:50px;opacity:0;s:1500;s:1500;" data-start="1100" data-responsive_offset="on" style="z-index: 7; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/shadow.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 329px; height: 79px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 976px; top: 319px; z-index: 8;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-4" data-x="801" data-y="319" data-width="['none','none','none','none']"
								 data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:-50px;opacity:0;s:1500;s:1500;" data-start="1400" data-responsive_offset="on" style="z-index: 8; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/brifcase.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 429px; height: 274px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 893px; top: 357px; z-index: 9;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-5" data-x="718" data-y="357" data-width="['none','none','none','none']"
								 data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1700;e:Power3.easeInOut;"
								 data-transform_out="x:-200px;skX:85px;opacity:0;s:1500;s:1500;" data-start="2000" data-responsive_offset="on"
								 style="z-index: 9; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/plate.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 135px; height: 187px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 973px; top: 450px; z-index: 10;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-6" data-x="798" data-y="450" data-width="['none','none','none','none']"
								 data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:50px;opacity:0;s:1500;s:1500;" data-start="2000" data-responsive_offset="on" style="z-index: 10; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/watch.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 95px; height: 121px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 948px; top: 315px; z-index: 11;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-7" data-x="773" data-y="315" data-width="['none','none','none','none']"
								 data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:-50px;opacity:0;s:1200;s:1200;" data-start="2300" data-responsive_offset="on" style="z-index: 11; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/cap.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 130px; height: 127px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 8 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 923px; top: 160px; z-index: 12;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-8" data-x="center" data-hoffset="320" data-y="160"
								 data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;"
								 data-transform_in="x:800;y:450;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:easeOutQuad;"
								 data-transform_out="opacity:0;s:600;s:600;" data-start="3000" data-responsive_offset="on" style="z-index: 12; visibility: inherit; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img
									 src="http://static.soaptheme.net/uploads/revslider1/homepage/plane.png" alt="" data-ww="auto" data-hh="auto"
									 data-no-retina="" style="width: 313px; height: 117px; transition: none 0s ease 0s; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 12px;">
								</div>
							</div>
						</div>
					</div>

					<!-- LAYER NR. 9 -->
					<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 425px; top: 338px; z-index: 13;">
						<div class="tp-loop-wrap" style="position:absolute;">
							<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
								<div class="tp-caption   tp-resizeme" id="slide-13-layer-9" data-x="250" data-y="center" data-voffset="40"
								 data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:600;e:easeOutQuad;"
								 data-transform_out="y:-50px;opacity:0;s:600;s:600;" data-start="3600" data-splitin="none" data-splitout="none"
								 data-responsive_offset="on" style="z-index: 13; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: inherit; transition: none 0s ease 0s; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
									<p class="caption-small-title" style="transition: none 0s ease 0s; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 20px;">Bienvenue Dans La Meilleure</p>
									<p class="caption-medium-title" style="transition: none 0s ease 0s; line-height: 29px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 25px;">Plateforme De Voyages</p>
								</div>
							</div>
						</div>
					</div>

					
				</li>
			</ul>
		</div>
	</div>
</div>

<section id="content">
	<div class="search-box-wrapper">
		<div class="search-box container">
			<ul class="search-tabs clearfix">
				<li class="active"><a href="#flights-tab" data-toggle="tab">Recherche</a></li>
			</ul>
			<div class="visible-mobile">
				<ul id="mobile-search-tabs" class="search-tabs clearfix">
					<li><a href="#flights-tab">FLIGHTS</a></li>
				</ul>
			</div>
			<div class="search-tab-content">
				<div class="tab-pane fade active in" id="hotels-tab">
					<form action="hotel-list-view.html" method="post">
						<div class="row">
							<div class="form-group col-sm-6 col-md-3">
								<h4 class="title">Lieux</h4>
								<label>Lieu de départ</label>
								<nz-select name="departure_location_id" [(ngModel)]="departure_location_id" style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Veuillez choisir le lieu de départ...">
									<nz-option *ngFor="let city of getCities()" nzLabel="{{ city.Name }}" nzValue="{{ city.Id }}"></nz-option>
								</nz-select>
							</div>
							<div class="form-group col-sm-6 col-md-3">
								<h4 class="title"></h4>
								<label>Lieu d'arrivée</label>
								<nz-select name="arrival_location_id" [(ngModel)]="arrival_location_id" style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Veuillez choisir le lieu de départ...">
									<nz-option *ngFor="let city of getCities()" nzLabel="{{ city.Name }}" nzValue="{{ city.Id }}"></nz-option>
								</nz-select>
							</div>

							<div class="form-group col-sm-6 col-md-4">
								<div class="row">
									<div class="col-xs-6">
										<h4 class="title">Horaires</h4>
										<label>Date de départ</label>
										<div>
											<nz-date-picker name="departure_date" [(ngModel)]="departure_date" (ngModelChange)="onChange($event)"></nz-date-picker>
										</div>
									</div>
									<div class="col-xs-6">
										<h4 class="title"></h4>
										<label>Heure de départ</label>
										<div>
											<nz-time-picker name="departure_time" [(ngModel)]="departure_time" nzFormat="HH:mm" [nzDefaultOpenValue]="defaultTimeValue"></nz-time-picker>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-sm-6 col-md-2 fixheight">
								<label class="hidden-xs">&nbsp;</label>
								<button (click)="submit()" class="full-width icon-check animated bounce" data-animation-type="bounce"
								 data-animation-duration="1" style="animation-duration: 1s; visibility: visible; color: #fff;">SEARCH NOW</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>