<article class="box" *ngFor="let trainOffer of trainOffers">
	<figure class="col-xs-3 col-sm-2">
		<span><img width="94" height="90" alt="" src="assets/layout/images/boraq.jpg"></span>
	</figure>
	<div class="details col-xs-9 col-sm-10">
		<div class="details-wrapper">
			<div class="first-row">
				<div>
					<h4 class="box-title">
						{{ getDepartureName(trainOffer) }} 
						vers 
						{{ getArrivalName(trainOffer) }}
						<small>Aller simple</small></h4>
					<a class="button btn-mini stop">{{ getStopsNumber(trainOffer) }} ARRÊT(s)</a>
					<div class="amenities">
						<i class="soap-icon-wifi circle"></i>
						<i class="soap-icon-aircon circle"></i>
						<i class="soap-icon-suitcase circle"></i>
						<i class="soap-icon-fork circle"></i>
					</div>
				</div>
				<div>
					<span class="price"><small>Tarif</small>{{ getTotalPrice(trainOffer) | number:'1.2-2' }} MAD</span>
				</div>
			</div>
			<div class="second-row">
				<div class="time">
					<div class="take-off col-sm-4">
						<div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
						<div>
							<span class="skin-color">Départ</span><br>{{ getDepartureTime(trainOffer) }}
						</div>
					</div>
					<div class="landing col-sm-4">
						<div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
						<div>
							<span class="skin-color">Arrivée</span><br>{{ getArrivalTime(trainOffer) }}
						</div>
					</div>
					<div class="total-time col-sm-4">
						<div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
						<div>
							<span class="skin-color">Durée totale</span><br>{{ getTotalDuration(getDepartureTime(trainOffer), getArrivalTime(trainOffer)) }}
						</div>
					</div>
				</div>
				<div class="action">
					<a class="button btn-small full-width">SELECT NOW</a>
				</div>
			</div>
		</div>
	</div>
</article>