<div class="page-title-container">
	<div class="container">
		<div class="page-title pull-left">
			<h2 class="entry-title">Résultats de la recherche</h2>
		</div>
		<ul class="breadcrumbs pull-right">
			<li><a [routerLink]="['/']">Accueil</a></li>
			<li class="active">Résultats de la recherche</li>
		</ul>
	</div>
</div>

<!-- <div #gmap class="map" id="search-results-map" style="height: 500px; width: 100%"></div> -->

<section id="content">
	<div class="container">
		<div id="main">
			<div class="row">
				<div class="col-sm-4 col-md-3">
					<h4 class="search-results-title"><i class="soap-icon-search"></i><b>{{ getResultsNumber() }}</b> résultats.</h4>
					<div class="toggle-container filters-container">
						<div class="panel style1 arrow-right">
							<h4 class="panel-title">
								<a data-toggle="collapse" class="collapsed" [class.selectedType]="tripType == 1" (click)="setTripType(1)">{{ getBusOffers().length }} Bus</a>
							</h4>
						</div>
						<div class="panel style1 arrow-right">
							<h4 class="panel-title">
								<a data-toggle="collapse" class="collapsed" [class.selectedType]="tripType == 2" (click)="setTripType(2)">{{ getTrainOffers().length }} Trains</a>
							</h4>
						</div>
						<div class="panel style1 arrow-right">
							<h4 class="panel-title">
								<a data-toggle="collapse" class="collapsed" [class.selectedType]="tripType == 3" (click)="setTripType(3)">{{ getPlaneOffers().length }} Avions</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-9">
					<!--<div class="sort-by-section clearfix box">
						<h4 class="sort-by-title block-sm">Sort results by:</h4>
						<ul class="sort-bar clearfix block-sm">
							<li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
							<li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
							<li class="sort-by-rating active"><a class="sort-by-container" href="#"><span>duration</span></a></li>
						</ul>
					</div> -->
					<div class="flight-list listing-style3 flight">

						<buses [parentData]="getBusOffers()" *ngIf="tripType == 1"></buses>
						<trains [parentData]="getTrainOffers()" *ngIf="tripType == 2"></trains>
						<planes [parentData]="getPlaneOffers()" *ngIf="tripType == 3"></planes>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>